.text-input {
    border:1px solid $border-color;
    height:50px;
    padding: $s-size;
    font-weight: 300;
}

.select {
    @extend .text-input;

}

.textarea {
    @extend .text-input;
    height: 10rem;
}
